.speasyforms-container {
    margin-right: 3px;
    width: 99%;
}
div.speasyforms-tabs, div.speasyforms-accordion {
    margin-top: 10px;
    margin-bottom: 20px;    
}
table.speasyforms-columns, table.speasyforms-columns h3.ms-standardheader, table.speasyforms-columns td.ms-formbody {
    margin: 0px;
    padding: 0px;
}
h3.ms-standardheader {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
table.speasyforms-columns td {
    vertical-align: top;
}
.speasyforms-tabvalidationerror {
    border-top: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
}
.speasyforms-accordionvalidationerror {
    border: 1px solid red;
}
.ms-formlabel {
    padding: 0;
}
.ms-formbody {
    padding: .1em;
}