body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    overflow: hidden;
    margin: 0;
}

table.speasyforms-columns {
    width: 100%;
}

table.ms-formtable {
    padding: 5px;
    background: white;
    border-spacing: 10px;
    width: 600px;
}

    table.ms-formtable tr {
        padding: 10px !important;
    }

td.ms-formlabel {
    padding: 5px;
    text-align: right;
    font-size: 0.7rem;
}

td.ms-formbody {
    border: 1px solid gray;
    padding: 0;
    margin: 20px;
    width: 100%;
    /* 
            hack fix for 2010 
            */
}

.ui-accordion .ui-accordion-content {
    overflow: auto;
}

.ui-menu .ui-menu-item,
.nobr {
    white-space: nowrap;
}

div.ui-dialog {
    background: #eee !important;
}

.ms-formvalidation {
    color: red;
}

.speasyforms-panel {
    vertical-align: top;
}

#s4-bodyContainer {
    overflow-x: hidden;
    padding-bottom: 0;
}

div.speasyforms-panel {
    width: 400px;
    height: 700px;
    overflow-x: scroll;
    overflow-y: scroll;
    background: #eee;
    float: left;
}

td.speasyforms-form,
#toggleContext,
#outputTable {
    padding-left: 405px;
}

td.speasyforms-sortablefields {
    width: 45%;
    cursor: move;
}

#contentRow {
    padding-top: 0;
}

#contentBox {
    margin-left: 0;
}

.speasyforms-form {
    vertical-align: top;
    padding: 0 20px;
    width: 100%;
    min-width: 360px;
}

.speasyforms-entity {
    display: block;
    padding: 3px 20px 4px 8px;
    margin: 1px 2px;
    position: relative;
    float: left;
    background-color: #eee;
    border: 1px solid #333;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    color: #333;
    font: n ormal 11px Verdana, Sans-serif;
}

    .speasyforms-entity a {
        position: absolute;
        right: 8px;
        top: 2px;
        color: #666;
        font: bold 12px Verdana, Sans-serif;
        text-decoration: none;
    }

        .speasyforms-entity a:hover {
            color: #ff0000;
        }

.speasyforms-input {
    background: #eee;
}

#spEasyFormsOuterDiv {
    display: none;
}

.speasyforms-error {
    color: maroon !important;
}

.speasyforms-dialogdiv {
    display: none;
}

.speasyforms-json {
    border: 1px solid lightblue;
}

.formTabsDiv {
    margin-top: 10px;
    margin-bottom: 10px;
}

.formTabsTable {
    padding: 1px;
    margin: 0;
}

.formTabsList {
    background-color: #cdc0b0;
}

th.speasyforms-fieldcell {
    font-size: .8rem;
}

table.speasyforms-fieldsheader {
    width: 100%;
}

td.speasyforms-headercell {
    width: 50%;
}

h1 {
    font-size: 1.8rem;
    font-weight: normal;
}

h3.speasyforms-sortablefields {
    font-size: 1.2rem;
    font-weight: normal;
}

.speasyforms-itemtype {
    font-size: .7rem;
    font-weight: normal;
}

table.speasyforms-editor {
    max-width: 1280px;
}

table.speasyforms-fieldstitle,
table.speasyforms-sortablefields {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

table.speasyforms-columncell {
    width: 95%;
}

table.speasyforms-sortablerules {
    width: 80%;
}

tr.speasyforms-sortablefields,
tr.speasyforms-sortablerules {
    font-size: .9rem;
}

td.speasyforms-sortablerules {
    border: 1px solid gray;
}

div.speasyforms-buttons {
    margin-top: 20px;
}

button.ui-button-icon-only {
    font-size: .5rem !important;
    margin: 0;
    padding: 0;
    min-width: 0;
}

div.speasyforms-entitypicker {
    border: 1px solid gray;
    width: 500px;
    padding: 3px;
    background: white;
}

input.speasyforms-entitypicker {
    width: 100px;
    position: relative;
    float: left;
    border: none;
    padding: 5px;
}

table.speasyforms-rulestable {
    width: 90%;
}

td.speasyforms-visibility,
td.speasyforms-adapter {
    margin: 0;
    padding: 0;
    width: 1px;
    background: #ddd;
}

    td.speasyforms-visibility:hover,
    td.speasyforms-adapter:hover {
        background: #eee;
    }

td.speasyforms-visibilityrulebutton {
    background: #eee;
    width: 1px;
}

td.speasyforms-editor .ui-widget-content.tabs-min {
    background: transparent;
    border: none;
}

.ui-widget-header.tabs-min {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui-tabs-nav.tabs-min .ui-state-default {
    background: transparent;
    border: none;
}

    .ui-tabs-nav.tabs-min .ui-state-default a {
        color: #c0c0c0;
    }

.ui-tabs-nav.tabs-min .ui-state-active a {
    color: #459e00;
}

#spEasyFormsTextareaDiv {
    display: none;
}

table.speasyforms-staticrules {
    width: 100%;
}

td.speasyforms-blank {
    width: 47px;
    background-color: #ddd;
}

table.speasyforms-adapter,
td.speasyforms-visibility {
    background-color: #eaf4fd;
    border: 1px solid darkgrey;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
}

td.speasyforms-staticrules,
td.speasyforms-adapter-static {
    text-align: left;
}

table.speasyforms-adapters {
    width: 100%;
}

td.speasyforms-adapterlabel {
    font-weight: bold;
    width: 150px;
}

.speasyforms-adapterdetails {
    border: 1px solid darkgrey;
    width: 90%;
    margin: 10px 10px auto auto;
}

table.speasyforms-credits {
    border: 1px solid darkgrey;
    margin: 20px;
    padding: 0;
}

td.speasyforms-credit {
    white-space: nowrap;
    font-weight: bold;
    vertical-align: top;
    padding: 5px;
}

td.speasyforms-creditdescription {
    vertical-align: top;
    padding: 5px;
}

span.speasyforms-credits {
    font-weight: bold;
}

a.speasyforms-credits {
    color: blue !important;
}

div.speasyforms-contenttype {
    padding-top: 5px;
}

.ms-cui-tts {
    display: none;
}

#sideNavBox {
    display: none;
}

.speasyforms-ribbon {
    width: 100%;
    height: 85px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    overflow: hidden;
    z-index: 1;
    border-bottom: 1px solid lightgray;
    background-color: #fcfcfc;
}

.speasyforms-controlouterdiv {
    float: left;
    border: 1px solid #fcfcfc;
    height: 53px;
    padding: 3px;
}

.speasyforms-buttonouterdiv,
.speasyforms-buttoncontainer {
    float: left;
    border: 1px solid #fcfcfc;
    height: 65px;
    padding: 3px;
}

.speasyforms-buttonouterdiv-smallimg {
    border: 1px solid #fcfcfc;
    padding: 0 2px;
}

    .speasyforms-buttonouterdiv-smallimg:hover, .speasyforms-buttonouterdiv:hover {
        border: 1px dotted darkblue !important;
        cursor: pointer !important;
    }

.speasyforms-buttontext {
    text-align: center;
    color: rgb(68, 68, 68);
}

.speasyforms-buttontextdisabled {
    color: gray;
}

.speasyforms-buttongroup {
    font-size: .8rem;
    border-right: 1px dotted gray;
    height: 84px;
    float: left;
}

.speasyforms-buttongrptext {
    font-size: .7rem;
    text-align: center;
    color: gray;
    clear: both;
}

.speasyforms-contenttype {
    margin-top: 3px;
}

.speasyforms-img {
    background-image: url(menu.png);
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
}

.speasyforms-imgdisabled {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.speasyforms-smallimg {
    background-image: url(menu.png);
    width: 26px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.speasyforms-cancelimg {
    background-position: 512px 0;
}

.speasyforms-addimg {
    background-position: 480px 0;
}

.speasyforms-undoimg {
    background-position: 448px 0;
}

.speasyforms-redoimg {
    background-position: 416px 0;
}

.speasyforms-formimg {
    background-position: 384px 0;
}

.speasyforms-visimg {
    background-position: 352px 0;
}

.speasyforms-adaptimg {
    background-position: 320px 0;
}

.speasyforms-expimg {
    background-position: 288px 0;
}

.speasyforms-colimg {
    background-position: 255px 0;
}

.speasyforms-clrimg {
    background-position: 224px 0;
}

.speasyforms-verimg {
    background-position: 192px 0;
}

.speasyforms-aboutimg {
    background-position: 160px 0;
}

.speasyforms-diagimg {
    background-image: url('/_layouts/images/menudownload.gif');
}

.speasyforms-helpimg {
    background-position: 128px 0;
}

.speasyforms-importimg {
    background-position: 96px 0;
}

.speasyforms-exportimg {
    background-position: 64px 0;
}

.speasyforms-settingsimg {
    background-position: 32px 0;
}

.speasyforms-btnstack {
    text-align: left;
    height: 16px;
}

.speasyforms-btnstack1 {
    width: 110px;
}

.speasyforms-btnstack2 {
    width: 80px;
}

.speasyforms-btnstack3 {
    width: 100px;
}

h2.speasyforms-breadcrumbs {
    padding: 3px;
    color: #666;
    margin: 0;
    font-family: "SegoeUI-SemiLight-final","Segoe UI SemiLight","Segoe UI WPC Semilight","Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1.1em;
    font-weight: normal;
}

    h2.speasyforms-breadcrumbs a,
    h2.speasyforms-breadcrumbs a:visited {
        color: #666;
        text-decoration: underline;
    }

.speasyforms-hidden {
    display: none;
}

#spEasyFormsBusyScreen {
    background: url(/_layouts/images/loading16.gif) no-repeat;
    padding-left: 25px;
}

.speasyforms-busyscreen .ui-dialog-titlebar {
    display: none;
}

.speasyforms-busyscreen .ui-dialog-titlebar-close {
    display: none;
}

.speasyforms-aboutlink, .speasyforms-aboutlink:visited {
    color: darkblue !important;
    text-decoration: underline;
}

.speasyforms-helptext {
    background-color: white;
    color: #383822;
    padding: 10px;
    border: 1px solid gray;
    overflow: auto;
}

#spEasyFormsContent {
    float: left;
    overflow-y: scroll;
    overflow-x: scroll;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 400px;
    position: fixed;
}

#s4-titlerow {
    padding-bottom: 0;
}

ol {
    padding-left: 20px;
}

.speasyforms-nestedsortable-error {
    background: #fc87a5;
    border-color: transparent;
}

ol.speasyforms-nestedsortable {
    font-size: 13px;
    font-family: Freesans, sans-serif;
    padding: 5px 3px 0 3px;
    margin: 0 0 10px 0;
}

    ol.speasyforms-nestedsortable,
    ol.speasyforms-nestedsortable ol {
        list-style-type: none;
    }

.speasyforms-nestedsortable li {
    border: 1px solid #999;
}

div.speasyforms-menudiv {
    margin: 0;
    padding: 2px;
    cursor: move;
}

div.speasyforms-nestedsortable-content {
    margin: 0;
    padding: 5px;
}

li.speasyforms-nestedsortable-collapsed.speasyforms-nestedsortable-hovering div {
    border-color: #999;
}

.speasyforms-nestedsortable li.speasyforms-nestedsortable-collapsed > ol {
    display: none;
}

.speasyforms-nestedsortable li.speasyforms-nestedsortable-branch > div > .disclose {
    display: inline-block;
}

.speasyforms-nestedsortable span.ui-icon {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.speasyforms-itemtitle {
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}

.speasyforms-nestedsortable-status {
    cursor: pointer;
}

.speasyforms-nestedsortable-edit,
.speasyforms-nestedsortable-delete {
    float: right;
    cursor: pointer;
}

td.speasyforms-icon-visibility:hover,
td.speasyforms-icon-adapter:hover {
    cursor: pointer;
}

.speasyforms-placeholder {
    outline: 1px dashed #4183C4;
}

.speasyforms-panel, .speasyforms-content {
    display: none;
}

h3.ms-standardheader, .ms-standardheader {
    font-size: 0.7rem;
}

#tabs-min {
    padding: 15px;
}

.ui-widget {
    font-size: 1rem !important;
}

#suitBar {
    height: 46px;
    padding-left: 10px;
}

    #suitBar a {
        font-family: "SegoeUI-SemiLight-final","Segoe UI SemiLight","Segoe UI WPC Semilight","Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
        font-size: 1.8rem;
        text-decoration: none;
    }

#msCuiTopbar {
    background-color: #eee;
    padding: 3px 10px;
    height: 27px;
}

.ms-accentText, .ms-accentText:visited {
    color: #0072c6;
}

.speasyforms-settingsheader {
    font-family: "SegoeUI-SemiLight-final","Segoe UI SemiLight","Segoe UI WPC Semilight","Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1.8em;
    color: darkslategray;
    margin-bottom: 20px;
}

h3, h3.speasyforms-columnsheader {
    font-size: 1rem;
    font-weight: normal;
    margin: 4px;
}

div.speasyforms-wizard {
    max-width: 780px;
}

li.speasyforms-nestedsortable-container > ol > li.speasyforms-nestedsortable-container {
    background-color: #ccc;
}

li.speasyforms-nestedsortable-container > ol > li.speasyforms-nestedsortable-fieldcollection {
    background-color: #ccc;
}

li.speasyforms-nestedsortable-container > ol > li.speasyforms-nestedsortable-container > 
ol > li.speasyforms-nestedsortable-container {
    background-color: #eee;
}

li.speasyforms-nestedsortable-container > ol > li.speasyforms-nestedsortable-container > 
ol > li.speasyforms-nestedsortable-fieldcollection {
    background-color: #eee;
}

li.speasyforms-nestedsortable-container > ol > li.speasyforms-nestedsortable-container > 
ol > li.speasyforms-nestedsortable-container > ol > li.speasyforms-nestedsortable-container {
    background-color: #ccc;
}

li.speasyforms-nestedsortable-container > ol > li.speasyforms-nestedsortable-container > 
ol > li.speasyforms-nestedsortable-container > ol > li.speasyforms-nestedsortable-fieldcollection {
    background-color: #ccc;
}

li.speasyforms-nestedsortable-container > ol > li.speasyforms-nestedsortable-container > 
ol > li.speasyforms-nestedsortable-container > ol > li.speasyforms-nestedsortable-container > 
ol > li.speasyforms-nestedsortable-container {
    background-color: #eee;
}

li.speasyforms-nestedsortable-container > ol > li.speasyforms-nestedsortable-container > 
ol > li.speasyforms-nestedsortable-container > ol > li.speasyforms-nestedsortable-container > 
ol > li.speasyforms-nestedsortable-fieldcollection {
    background-color: #eee;
}

button.speasyforms-visibilityrulebutton,
button.speasyforms-deleteadapter {
    height: 20px;
}

#applyThemeButton {
    font-size: 1em !important;
}

    #applyThemeButton span.ui-button-text {
        padding: .3em .6em;
    }

div.speasyforms-applytheme
{
    text-align: right;
    width: 450px;
}
