div.speasyforms-tabs, div.speasyforms-accordion {
    margin-top: 10px;
    margin-bottom: 20px;
}

.ui-tabs-nav {
    width: 99% !important;
}

.ui-tabs .ui-tabs-panel {
    padding: .7em .7em;
}

.speasyforms-columncell .ms-long {
    width: 225px;
}

table.speasyforms-columns, table.speasyforms-columns h3.ms-standardheader, table.speasyforms-columns td.ms-formbody {
    margin: 0;
    padding: 0;
}

.speasyforms-columnheader {
    margin-bottom: 5px;
    padding-bottom: 0;
    font-weight: bold;
}

table.speasyforms-columns td {
    vertical-align: top;
}

a.speasyforms-tabvalidationerror {
    border-top: 2px dashed red !important;
    border-left: 2px dashed red !important;
    border-right: 2px dashed red !important;
}

h3.speasyforms-accordionvalidationerror {
    border: 2px dashed red !important;
}

.ms-formlabel {
    padding: 0;
}

.ms-formbody {
    padding: .1em;
}

#spEasyFormsContainersPre,
#spEasyFormsContainersPost {
    width: 800px;
}

.speasyforms-stars {
    width: 165px;
    height: 30px;
    background-image: url(images/stars.png);
    background-position: left top;
}

.speasyforms-starsslider {
    width: 165px;
    height: 30px;
    background: transparent;
    border: none;
}

    .speasyforms-starsslider .ui-slider {
        background: transparent;
        border: none;
    }

    .speasyforms-starsslider .ui-widget-header {
        background: transparent;
    }

    .speasyforms-starsslider .ui-state-default {
        border: none;
        background: transparent;
        height: 0;
        width: 0;
    }

.ms-formvalidation {
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 0.9rem;
}

div.speasyforms-wizard-outer {
    margin: 10px;
}

h3.speasyforms-wizard {
    padding: 5px;
}

div.speasyforms-wizard {
    padding: 10px;
}

table.speasyforms-fieldcollection {
    border-spacing: 5px;
    width: 100%;
}

    table.speasyforms-fieldcollection td {
        padding: 3px 0 !important;
    }

.speasyforms-container .speasyforms-container, 
div.speasyforms-tabs {
    width: 95%;
    margin: 0 auto;
}
